{% extends 'layout.html' %}
{% block body %}
<h2>Add an Athlete</h2>

<div class = 'form'>
<form action='' method="POST">

    {{ form.hidden_tag() }}
    
    {{ form.first_name.label }} {{ form.first_name }}
    <br>
    {{ form.last_name.label }} {{ form.last_name }}
    <br>
    {{ form.gender.label }} {{ form.gender }}
    <br>
    {{ form.dob.label }} {{ form.dob }}
    <br>
    {{ form.country.label }} {{ form.country }}
    <br>
    {{ form.submit }} 
    
</form>
</div>
{% endblock body %}
